@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300;700&family=Tinos:wght@400;700&display=swap');




body{
  font-family: 'Golos', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #a7abaa;
  color: #e6ecee;
}
li {
  list-style-type: none;
}
ul {
 padding-left: 0;
}
.container {
  margin: 2vh auto;
  width: 75%;
  height: 96vh;
  background: url("/src/img/MOUTN.jpg") no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.header__title{
  margin-top: 20px;
  min-height: 40px;
  margin-left: 25%;
  display: flex;
  align-items: center;
}
.header__icon{
  margin-right: 5px;
}
h1{
  margin: 0;
}
.header__date{
  margin-left: 25%;
  margin-top: 8px;
}

.important-tasks-btn{
  background: #353738;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 25%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.important-tasks-btn:hover{
  background: #282a2b;
}
.task-list--important .task-list__item.important{
  display: flex;
}
.task-list--important .task-list__item{
  display: none;
}


.task-list {
  margin: 50px auto;
  width: 50%;
  height: 25vh;
  overflow-y: auto;
}
.task-list__item{
  display: flex;
  align-items: center;
  min-height: 40px;
  background: #282a2b; 
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 5px;
  position: relative;
}
.task-list__item-star-block{
  margin-left: auto;
  cursor: pointer;

}
.task-list__item-star-icon--empty{
  display: block;
}
.task-list__item-star-icon--full{
  display: none;
}
.important .task-list__item-star-icon--empty,
.filled .create-form__icon--empty {
  display: none;
}
.important .task-list__item-star-icon--full,
.filled .create-form__icon--full {
  display: block;
}

.task-list__item-star-block:hover{
  color: #ffffff;
}
.active{
  display: block;
}
.hidden{
  display: none;
}

span {
  margin-left: 20px;
}
.create-form-wraper{
  width: 50%;
  height: auto;
  margin: 50px auto;
  margin-bottom: 30px;
}
.create-form{  
  min-height: 40px;
  background-color: #282a2b;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
}
.create-form__input{
  margin-left: 20px;
  background-color: #282a2b;
  border: none;
  width: auto;
  flex-grow: 1;
  color: #e6ecee;
}
::-webkit-input-placeholder {
  color: rgb(204, 195, 195);
}
.create-form__button{
  margin-left: 20px;
  background-color: #282a2b;
  border: 1px solid #e6ecee;
  border-radius: 5px;
  color: #e6ecee;
  margin-left: 20px;
  cursor: pointer;
}
.create-form__icon{
  margin-left: 10px;
  cursor: pointer;
}
.create-form__icon:hover{
  color: #ffffff;
}



.task-list-cheked__title{
  background: #353738;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 25%;
  display: inline-block;
  vertical-align: top;
}
.task-list__item--done{
  background: #353738; 
  text-decoration: line-through;
}
.task-list-cheked__counter{
  margin: 0;
}
ul.task-list::-webkit-scrollbar {
  background: aliceblue;
  border-radius: 5px;
  width: 13px;
}
ul.task-list::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 5px;
}
.task__context-menu{
  cursor: pointer;
  min-width: 150px;
  display: none;
  position: fixed;
  background: #1b1b1b;
  color: #d64747;
  padding: 5px 10px;
  border-radius: 5px;
}
.task__context-menu--visible{
  display: flex;
}
.task__context-menu--visible:hover{
  background: #39393e;
}
.context-menu__title{
  margin-left: 10px;
}
